/*.box-pai {
    display: flex;
    flex-direction: column;
    background-color: #d9f0d9b0;
    width: 100%;
}

.box {
    border: solid 2px #eb8965;
    margin: 3vh 3vw;
    padding: 1vh 1vw;
}

.box-child-2 {
    display: flex
    
}

.box-child-3 {
    display: flex;
    flex-direction: row;
}

.box-child-1 {
    height: 13vh;
}


.box-child-4 {
    height: 25vh;
}

.box-1 {
    border: solid 2px #eb8965;
    width: 50em;
    margin: 2vh 2vw;
    padding: 1vh 1vw;
    height: 25vh;
}

.box-child-5 {
    flex-basis: 20vw;
}

.box-child-6 {
    flex-grow: 3;
}
*/

/* Correção do Exercício */

.box-pai {
    display: flex;
    flex-direction: column;
}

.box {
    border: 1px solid #ff0000;
    height: 10vh;
    margin: 2vh 2vw;
    padding: 2vh 2vw;
}

.box-child-2 {
    display: flex;
    flex-direction: row;
    height: 20vh;
}

.box-child-2 .box-1 {
    border: 1px solid #ff0000;
    margin: 1.5vh 1.5vw 1.5vh 0;
}

.box-child-5 {
    /*width: 15vw;*/
    flex-grow: 1;
}

.box-child-6 {
    /*width: 85vw;*/
    flex-grow: 6;
}

.box-child-3 {
    display: flex;
    flex-direction: row;
    height: 20vh;
    justify-content: space-around;
}

.box-child-3 .box-1 {
    border: 1px solid #ff0000;
    margin: 1.5vh 1.5vw 1.5vh 0;
    width: 25vw;
}

.box-child-4 {
    height: 15vh;
}