.box-container {
    display: flex;
    flex-direction: row;
    /*

    A utilização do Flex (grow,basis), deve ser nos itens.    
    E devemos suprimir as larguras para que não afete a manipulação.

    */
}

.box {
    display: block;
    /*width: 10vw;
    min-width: 5vw;*/
    height: 10vh;
    margin: 3vh 3vw;
    padding: 1vh 1vw;
    color: #fff;
}

.box-1 {
    background-color: brown;
    flex-basis: 10%;
    order: 5;
}

.box-2 {
    background-color: cornflowerblue;
    flex-grow: 4;
    order: 3;
}

.box-3 {
    background-color: darkgreen;
    flex-grow: 2;
    order: 4;
}

.box-4 {
    background-color: darkslateblue;
    flex-grow: 2;
    order: 3;
}

.box-5 {
    background-color: midnightblue;
    flex-grow: 3;
    order: 1;
}